<div><canvas id="soundhopper" style="background-color:black">
  </canvas></div>
<div class="col s12 m12 l12">
  <% @soundc.each do |x| %>
    <div>
      <%= x['title']%>
      <img class='materialboxed' src='<%= x['artwork_url'] %>'>
      <%= x['description'].html_safe %>
      <audio controls src='<%= x['stream_url'] %>?client_id=<%=ENV['SoundCloudKey']%>'></audio>
    </div>
  <% end %>
</div>
