<!DOCTYPE html>
<html>
<head>
  <title>Project4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="play-button">Start</div>
</body>
<% x = @soundc.sample %>
<script>
var context	= new AudioContext()
// Create lineOut
var lineOut	= new WebAudiox.LineOut(context)
lineOut.volume	= 0.2
var analyser	= context.createAnalyser()
analyser.connect(lineOut.destination);
lineOut.destination	= analyser;
// load a sound and play it immediatly

var canvas	= document.getElementById('soundhopper');
canvas.width	= window.innerWidth;
canvas.height	= window.innerHeight;
var ctx		= canvas.getContext("2d");
document.body.appendChild(canvas)
// create the object
var analyser2canvas	= new WebAudiox.Analyser2Canvas(analyser, canvas)
// loop and update
requestAnimationFrame(function update() {
requestAnimationFrame(update);
// clear the canvas
ctx.clearRect(0, 0, canvas.width, canvas.height);
// put the sound in the canvas
analyser2canvas.update()
});
var button = document.getElementById('play-button');
button.addEventListener("click", function() {
  WebAudiox.loadBuffer(context, '<%= x['stream_url'] %>?client_id=<%= ENV['SoundCloudKey'] %>', function(buffer){
  var source	= context.createBufferSource();
  source.buffer	= buffer;
  source.loop	= true
  source.connect(lineOut.destination);
  source.start(0)
  });
});
</script>
</html>
